.alert {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute; 
  background-color: whitesmoke;
  border: 3px solid darkred;
  margin: 15px 45%;
  width: 45%;

  .alert-ribbon {
    background-color: darkred;
    height: 100%;
    width: 30px;
    height: 100px;
  }

  .alert-message {
    width: 200px;
    height: 60px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
  }
  
}

body {
  overflow-x: hidden;
}